.clearFloat:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearFloat > div,
.clearFloat > ul,
.clearFloat > li {
	float: left;
}

#renren_album_downloader_btn,
#renren_album_downloader_btn_hint {
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);
}

#renren_album_downloader_btn {
  position: fixed;
  right: 24px;
  top: 0;
  z-index: 1900;
  cursor: pointer;
  padding: 0;
  border-radius: 0 0 3px 3px;
  background-color: #FFF;
  -webkit-user-select: none;
  -webkit-transition: top .3s ease-in-out;
}

#renren_album_downloader_btn:hover {
  top: 9px;
}

#renren_album_downloader_btn.disabled {
  cursor: default;
}

#renren_album_downloader_btn.expanded {
  top: 31px;
}

#renren_album_downloader_btn_info {
  height: 14px;
  padding: 9px;
  text-align: center;
  color: #AAA;
  -webkit-transition: opacity .3s ease-in-out;
}

#renren_album_downloader_btn_hint {
  background-color: #F7F7F7;
  -webkit-transition: background-color .3s ease-in-out;
}

#renren_album_downloader_btn:hover #renren_album_downloader_btn_hint {
  background-color: #FAFAFA;
}

#renren_album_downloader_btn_text {
  height: 14px;
  width: 88px;
  text-align: center;
  padding: 9px 12px;
  border-radius: 0 0 3px 0;
  color: #444;
  border-left: 1px solid #DDD;
  -webkit-transition: color .3s ease-in-out;
}

#renren_album_downloader_btn:hover #renren_album_downloader_btn_text {
  color: #000;
}

#renren_album_downloader_btn_icon {
  width: 32px;
  height: 31px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  opacity: 0.5;
  -webkit-transition: opacity .3s ease-in-out;
}

#renren_album_downloader_btn:hover #renren_album_downloader_btn_icon {
  opacity: 1;
}

#renren_album_downloader_btn_icon.default {
  background-image: url(chrome-extension://__MSG_@@extension_id__/ui/download.png);
}

#renren_album_downloader_btn_icon.spinning{
  position: relative;
  background-image: none;
}

#renren_album_downloader_btn_icon.finished {
  background-image: url(chrome-extension://__MSG_@@extension_id__/ui/checkmark.png);
}

#renren_album_downloader_btn_icon.spinning > div {
  position: absolute;
  background-color: transparent;
  height: 3px;
  width: 3px;
  border-radius: 1px;
  -webkit-animation-name: spinningAnim;
  -webkit-animation-duration: 1.04s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
}

#renren_album_downloader_btn_icon.spinning > div:nth-child(1) {
  left: 8px;
  top: 16px;
  -webkit-animation-delay: 0.39s;
}

#renren_album_downloader_btn_icon.spinning > div:nth-child(2) {
  left: 10px;
  top: 11px;
  -webkit-animation-delay: 0.52s;
}

#renren_album_downloader_btn_icon.spinning > div:nth-child(3) {
  left: 15px;
  top: 9px;
  -webkit-animation-delay: 0.65s;
}

#renren_album_downloader_btn_icon.spinning > div:nth-child(4) {
  left: 19px;
  top: 11px;
  -webkit-animation-delay: 0.78s;
}

#renren_album_downloader_btn_icon.spinning > div:nth-child(5) {
  left: 21px;
  top: 16px;
  -webkit-animation-delay: 0.91s;
}

#renren_album_downloader_btn_icon.spinning > div:nth-child(6) {
  left: 19px;
  top: 20px;
  -webkit-animation-delay: 1.04s;
}

#renren_album_downloader_btn_icon.spinning > div:nth-child(7) {
  left: 15px;
  top: 22px;
  -webkit-animation-delay: 1.17s;
}

#renren_album_downloader_btn_icon.spinning > div:nth-child(8) {
  left: 10px;
  top: 20px;
  -webkit-animation-delay: 1.3s;
}

@-webkit-keyframes spinningAnim {
  0% {
    background-color: #444
  }
  100% {
    background-color: transparent
  }
}